/* coda-regular - latin_latin-ext */
@font-face {
  font-family: 'Coda';
  font-style: normal;
  font-weight: 400;
  src: url('coda-v15-latin_latin-ext/coda-v15-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Coda Regular'), local('Coda-Regular'),
       url('coda-v15-latin_latin-ext/coda-v15-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('coda-v15-latin_latin-ext/coda-v15-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('coda-v15-latin_latin-ext/coda-v15-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('coda-v15-latin_latin-ext/coda-v15-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('coda-v15-latin_latin-ext/coda-v15-latin_latin-ext-regular.svg#Coda') format('svg'); /* Legacy iOS */
}
