
.form-control{ 
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    color: var(--text-color);
    margin-bottom: 1em;
    width: 100%;
}

textarea { 
    min-height: 15em; 
}

form .submit{
    background: var(--button-accept-color);
    border: none;
    color: var(--button-accept-text-color);
    font-weight: bold;
    height: 3.1em;
}
