/* TEST */
.skill-icon { 
    max-width: 1.5em;
    display:inline;
}


.skill-list {
    list-style-type: none;
    list-style-position: inside;
}

h1 {
    line-height: initial;
}

header h1{ 
    color: var(--text-dimmed);
    
}

#page-title{
    color: var(--text-color);
}

header nav ul{ 
  list-style-type: none;
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
  width: 100%;
}

header nav li{
    margin: 1ch;
}

header {
    display: flex;
  flex-wrap: wrap;
    justify-content: space-between;
}

.clickable-image{
    background-color: initial;
    color: initial;
}