.head { 
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2ch 0 2ch 0;
}

.client {
  padding: 1ch;
  border: 1px solid var(--main-color);
  border-radius: .3ch;
}

.head nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
}

.head nav ul li {
  margin: 0 .5ch 0 .5ch;
  
}
