:root {
    /* Background */
    --background-color: white;
    --main-color: initial;
    --page-width: 70ch;


    /* Text */
    --text-color: black;
    --text-dimmed: grey;

    /* Links */
    --link-color: var(--background-color);
    --link-background-color: var(--text-color);
    
    /* Forms */
    --text-input-background-color: initial;
    --text-input-focus-background-color:initial ;
    --button-accept-color: green;
    --button-accept-text-color: white;

}

:root{
    background-color: var(--background-color);
    max-width: var(--page-width);
    margin: auto;

    font-family: "Coda"; /*Change font*/
    font-size: 1.3rem; /*Mutliplies all text sizes by 1.2 so it's easier to read */
    line-height: 1.7rem
}

img{
    max-width: 100%;
    margin: auto;
    max-height: 10em;
 
}


a {
  background-color: var(--link-background-color);
  color: var(--link-color);
  padding: 0 .3ch 0 .3ch;
}