<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='contact.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/coda-v15-latin.css')}}">
    <title>{{data["title"]}}</title>
</head>

<body>
    <a href="./">Page d'acceuil</a>
    <h1>Me contacter</h1>
    <form method="POST">
        <label for="nom">Nom:</label><br>
        <input type="text" name="nom" class="form-control"><br>
        <label for="prenom">Prénom:</label><br>
        <input type="text" name="prenom" class="form-control"><br>
        <label for="email">Adresse mail:</label><br>
        <input type="text" name="email" class="form-control"><br>
        <label for="objet">Objet:</label><br>
        <input type="text" name="objet" class="form-control"><br>
        <label for="message">Message:</label><br>
        <textarea name="message" placeholder="Rentrer ici votre message" class="form-control"></textarea>
        <br>
        <input type="submit" class="form-control submit" value="ENVOYER MESSAGE">
    </form>
</body>

</html