<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/coda-v15-latin.css')}}">
    <title>{{data["title"]}}</title>
</head>

<body>

    <header>
        <h1># > Portfolio <br>
            <span id="page-title">{{data["title"]}}</span> <br>
            ^D
        </h1>
        <nav>
            <ul>
                <li><a href="./recommendation">Recomandation</a></li>
                <li><a href="./contact">Contact</a></li>
		<li><a href="{{url_for('static', filename='report.pdf')}}">Rapport de stage</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>Mes compétances</h2>

        <ul class="skill-list">
            {% for competance in data["competances"] %}
            <li class="skill">
                <h3 id="competances-{{competance['idcompetances']}}"><img src="{{competance['icon_path']}}"
                        class="skill-icon">
                    {{competance["nom"]}}</h3>

                <p>{{competance["description"]}}</p>
                <nav>
                    <ul>
                        {% for projet in competance["projets"]%}
                        <li>
                            <a href="/projects/{{projet['idprojet']}}">{{projet["nom"]}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </li>
            {% endfor %}
        </ul>
    </section>
    <section class="projects">
        <h2>Projets</h2>

        {%for projet in data["projets"]%}
        <h3>
            <a href="/projects/{{projet['idprojets']}}">
                {{projet['nom']}}
            </a>
        </h3>
        <a href="/projects/{{projet['idprojets']}}" class="clickable-image">
            <img src="{{projet['background_image_path']}}" alt="{{projet['nom']}}">
        </a>
        {% endfor %}
    </section>
    <section>
        <h2>Recomandations</h2>
        {% for recomandation in data["recommandations"] %}
        <ul>
            <li class="recomandation">

                <h3><a href="{{recomandation['client']['website']}}">{{recomandation['client']['nom']}}</a>:
                    {{recomandation['titre']}}</h3>
                <p>{{recomandation['description']}}</p>

            </li>
        </ul>
        {% endfor %}
    </section>
</body>

</html>
