<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='project.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/coda-v15-latin.css')}}">
    <title>Nom du projet</title>
</head>

<body>
    <a href="/">Page d'accueil</a>
    <h1>{{data["nom"]}}</h1>


    <main>
        <section class="head">
            <div class="client">
                <h2><a href="{{data['client']['website']}}">{{data['client']['nom']}}</a></h2>
                <p>{{data['client']['description']}}</p>
            </div>

            <nav>
                <h2>Compétances mises en jeu</h2>
                <ul>
                    {% for c in data['competances'] %}
                    <li><a href="/#competances-{{c['idcompetances']}}">{{c['nom']}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </section>
        <img src="{{data['background_image_path']}}" alt="">
        <p>{{data["description"]}}</p>
        <article>{{data["article"]|safe}}</article>
    </main>

</body>

</html>