<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='recommendation.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/coda-v15-latin.css')}}">
    <title>{{data["title"]}}</title>
</head>

<body>
    <a href="./">Page d'acceuil</a>
    <h1>Me recommander</h1>
    <form method="POST">
        <label for="email">Adresse mail:</label><br>
        <input type="text" name="email" class="form-control"><br>
        <label for="objet">Entreprise:</label><br>
        <input type="text" name="objet" class="form-control"><br>
        <label for="message">Texte de recommandation:</label><br>
        <textarea name="message" placeholder="Rentrer ici votre recommandation" class="form-control"></textarea>
        <br>
        <input type="submit" class="submit form-control">
    </form>
</body>

</html>